.callSchema__page {
  padding-top: 77px; }
  .callSchema__page > .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    position: relative; }
  .callSchema__page.w-offer .callSchema__page--scheme-section,
  .callSchema__page.w-offer .callSchema__page--sidebar {
    height: calc(100vh - 77px - 65px); }
  .callSchema__page--offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px 2% 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fef1ba; }
    .callSchema__page--offer.hide {
      display: none; }
    .callSchema__page--offer .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .callSchema__page--offer .content .txt {
        margin-right: 30px; }
      .callSchema__page--offer .content .heading {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 3px; }
      .callSchema__page--offer .content .info {
        opacity: .7; }
    .callSchema__page--offer .close-offer {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      margin-right: 0;
      margin-left: auto;
      font-family: font, helvetica, arial sans-serif;
      font-size: 13px;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
      .callSchema__page--offer .close-offer span {
        line-height: 12px;
        display: inline-block;
        border-bottom: dashed 1px rgba(0, 0, 0, 0.35); }
      .callSchema__page--offer .close-offer:hover {
        color: #fd0032; }
        .callSchema__page--offer .close-offer:hover span {
          border-color: rgba(253, 0, 50, 0.35); }
  .callSchema__page .input-adding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .callSchema__page .input-adding .btn.base-btn {
      margin-bottom: 20px;
      font-size: 25px;
      font-weight: 500;
      padding: 4px 25px; }
    .callSchema__page .input-adding .input-block,
    .callSchema__page .input-adding .select-block {
      margin-right: 5px; }
  .callSchema__page--sidebar {
    width: 340px;
    margin-left: 2%;
    border-right: solid 1px #eee;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: calc(100vh - 77px);
    position: relative; }
    .callSchema__page--sidebar > .main-scrollbar.scrollbar-inner {
      position: relative; }
    .callSchema__page--sidebar .scroll-wrapper.scrollbar-inner {
      height: 100%; }
    .callSchema__page--sidebar .section-title {
      padding-top: 43px;
      margin-bottom: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      padding-right: 15px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .callSchema__page--sidebar .section-title .tooltip-faq-dot {
        margin-left: 5px;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
      .callSchema__page--sidebar .section-title .callSchema__page__close-sidebar-btn {
        margin-left: auto;
        margin-right: 0;
        display: none; }
    .callSchema__page--sidebar .base-tab__header:before {
      bottom: 0; }
    .callSchema__page--sidebar .base-tab__header .btn {
      margin: 0 25px 0 0; }
      .callSchema__page--sidebar .base-tab__header .btn:last-of-type {
        margin-right: 0; }
    .callSchema__page--sidebar .base-tab__body .base-tab__block .select.scrollable.scrollable .scroll-cont {
      max-height: 250px; }
      .callSchema__page--sidebar .base-tab__body .base-tab__block .select.scrollable.scrollable .scroll-cont a {
        min-height: 35px; }
    .callSchema__page--sidebar .base-tab__body .base-tab__block form.main-form {
      border-radius: 4px;
      background: #f7f7f7;
      max-width: 320px;
      padding: 15px 10px;
      margin-bottom: 30px; }
      .callSchema__page--sidebar .base-tab__body .base-tab__block form.main-form .select.select-flag dd .select-options a.current {
        color: #f18a17;
        position: relative;
        padding-right: 25px; }
        .callSchema__page--sidebar .base-tab__body .base-tab__block form.main-form .select.select-flag dd .select-options a.current:before {
          content: '';
          position: absolute;
          right: 10px;
          top: 7px;
          width: 15px;
          height: 15px;
          background: url(../img/svg/current-select.svg) 100% 100%; }
    .callSchema__page--sidebar .base-tab__body .base-tab__block .form-container {
      border-radius: 4px;
      background: #fff;
      border: solid 1px #eee;
      max-width: 320px;
      padding: 15px 10px;
      margin-bottom: 30px; }
    .callSchema__page--sidebar .base-tab__body .base-tab__block .setting-block .title {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 25px;
      padding-bottom: 10px;
      border-bottom: solid 1px #eee; }
    .callSchema__page--sidebar .base-tab__body .base-tab__block .setting-block .btn-row .btn {
      width: 100%;
      margin-bottom: 6px; }
    .callSchema__page--sidebar .base-tab__body .base-tab__block .setting-block .btn-row .delete-btn {
      background: rgba(255, 1, 1, 0.1);
      color: #ff0101; }
      .callSchema__page--sidebar .base-tab__body .base-tab__block .setting-block .btn-row .delete-btn:hover {
        background: #ff0101;
        color: #fff; }
    .callSchema__page--sidebar .base-tab__body .base-tab__block .setting-block .base-checkbox label span i.grey {
      opacity: .5; }
  .callSchema__page__close-sidebar-btn.btn {
    width: 15px;
    height: 15px;
    -webkit-transition: .35s ease;
    -o-transition: .35s ease;
    transition: .35s ease;
    background: none; }
    .callSchema__page__close-sidebar-btn.btn svg {
      width: 15px;
      height: 15px;
      fill: #fd0032; }
    .callSchema__page__close-sidebar-btn.btn:hover {
      opacity: .5; }
  .callSchema__page__open-sidebar-btn.btn.base-btn {
    display: none;
    position: absolute;
    z-index: 2;
    left: 25px;
    top: 25px;
    z-index: 20;
    border-radius: 50% !important;
    width: 34px;
    height: 34px;
    padding: 0 !important;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.14);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.14);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .callSchema__page__open-sidebar-btn.btn.base-btn svg {
      max-width: 18px;
      max-height: 18px;
      left: 8px;
      top: 8px;
      fill: #151515; }
  .callSchema__page--scheme-section {
    width: calc(98% - 340px);
    height: calc(100vh - 77px);
    overflow: scroll;
    position: relative;
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none; }
    .callSchema__page--scheme-section .callScheme--wrap ::-moz-selection {
      background-color: transparent; }
    .callSchema__page--scheme-section .callScheme--wrap ::selection {
      background-color: transparent; }
    .callSchema__page--scheme-section .callScheme--wrap > * {
      background-color: transparent; }
    .callSchema__page--scheme-section.grabbing {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    .callSchema__page--scheme-section__inner {
      min-height: 100vh; }
      .callSchema__page--scheme-section__inner.popup-opened .callScheme--wrap {
        pointer-events: none; }
      .callSchema__page--scheme-section__inner .callScheme--wrap .scheme-item {
        margin-right: auto;
        margin-left: auto; }
    .callSchema__page--scheme-section .scroll-wrapper > .scroll-content::-webkit-scrollbar {
      display: none; }
    .callSchema__page--scheme-section .scrollbar-inner > .scroll-element.scroll-y {
      right: 2px; }
    .callSchema__page--scheme-section__save-btn {
      position: absolute;
      right: 25px;
      top: 25px;
      z-index: 20;
      border-radius: 50% !important;
      width: 34px;
      height: 34px;
      padding: 0 !important;
      -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.14);
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.14); }
      .callSchema__page--scheme-section__save-btn svg {
        position: absolute;
        max-width: 18px;
        max-height: 18px;
        left: 8px;
        top: 8px; }
    .callSchema__page--scheme-section .scroll-wrapper.scrollbar-inner {
      height: 100%; }
    .callSchema__page--scheme-section .canvas-image {
      margin: auto;
      margin-top: 20px;
      max-width: 440px;
      display: block;
      -webkit-transform: translateX(-20px);
          -ms-transform: translateX(-20px);
              transform: translateX(-20px);
      opacity: .4; }
    .callSchema__page--scheme-section .scheme_ppp-open-btn {
      margin: auto;
      display: block;
      font-size: 25px;
      font-weight: 400;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding: 0;
      line-height: 20px;
      color: #fff;
      text-align: center; }
  .callSchema__page--configs {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #ececec;
    top: 0;
    right: 0;
    -webkit-transition: .35s ease;
    -o-transition: .35s ease;
    transition: .35s ease;
    opacity: 0;
    visibility: hidden; }
    .callSchema__page--configs:before {
      content: '';
      background: #ececec;
      position: absolute;
      width: 100px;
      height: 100%;
      top: 0;
      right: 100%; }
    .callSchema__page--configs.active {
      opacity: 1;
      visibility: visible; }
    .callSchema__page--configs .section-title {
      padding-right: 40px; }
    .callSchema__page--configs .callSchema__page__close-sidebar-btn {
      position: absolute;
      right: 15px;
      top: 43px;
      z-index: 2; }
    .callSchema__page--configs .config-form {
      display: none; }
      .callSchema__page--configs .config-form .btn.base-btn[disabled], .callSchema__page--configs .config-form .btn.base-btn.disabled {
        background: #b5b5b5; }
      .callSchema__page--configs .config-form .form_div {
        border: solid 1px #ccc;
        border-radius: 4px;
        padding: 15px 10px;
        max-width: 320px;
        margin-bottom: 40px; }
        .callSchema__page--configs .config-form .form_div .form-title {
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 20px; }
        .callSchema__page--configs .config-form .form_div .btns-row .btn {
          width: 100%;
          margin-bottom: 6px; }
        .callSchema__page--configs .config-form .form_div .btns-row .grey {
          background: #dadada; }
          .callSchema__page--configs .config-form .form_div .btns-row .grey:hover {
            background: #c7c7c7; }
    .callSchema__page--configs .js-tooltip.tooltip-faq-dot,
    .callSchema__page--configs .base-tooltip.tooltip-faq-dot {
      background: #d0d0d0; }
      .callSchema__page--configs .js-tooltip.tooltip-faq-dot:hover,
      .callSchema__page--configs .base-tooltip.tooltip-faq-dot:hover {
        background: #ffd802; }
    .callSchema__page--configs[data-config="readdress"] .config-form.readdress {
      display: block; }
    .callSchema__page--configs[data-config="audio-message"] .config-form.audio-message {
      display: block; }
    .callSchema__page--configs[data-config="voice-menu"] .config-form.voice-menu {
      display: block; }
      .callSchema__page--configs[data-config="voice-menu"] .config-form.voice-menu .input-block.double-inputs input:nth-of-type(1) {
        width: 40%; }
      .callSchema__page--configs[data-config="voice-menu"] .config-form.voice-menu .input-block.double-inputs input:nth-of-type(2) {
        width: 58%; }
    .callSchema__page--configs[data-config="move-to-node"] .config-form.move-to-node {
      display: block; }
    .callSchema__page--configs[data-config="voice-mail"] .config-form.voice-mail {
      display: block; }
    .callSchema__page--configs[data-config="fax"] .config-form.fax {
      display: block; }
    .callSchema__page--configs[data-config="que"] .config-form.que {
      display: block; }
    .callSchema__page--configs[data-config="move-to-num"] .config-form.move-to-num {
      display: block; }
    .callSchema__page--configs[data-config="start-call"] .config-form.start-call {
      display: block; }
    .callSchema__page--configs[data-config="end-call"] .config-form.end-call {
      display: block; }
    .callSchema__page--configs[data-config="time-check"] .config-form.time-check {
      display: block; }
      .callSchema__page--configs[data-config="time-check"] .config-form.time-check .input-block.double-inputs .input-wraps {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .callSchema__page--configs[data-config="time-check"] .config-form.time-check .input-block.double-inputs .input-wraps .item {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-right: 15px; }
          .callSchema__page--configs[data-config="time-check"] .config-form.time-check .input-block.double-inputs .input-wraps .item span {
            margin-right: 4px; }
          .callSchema__page--configs[data-config="time-check"] .config-form.time-check .input-block.double-inputs .input-wraps .item input {
            width: 100px; }
      .callSchema__page--configs[data-config="time-check"] .config-form.time-check .input-block.double-radio .base-radio {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-right: 20px; }
    .callSchema__page--configs[data-config="time-check"] .weekdays-choosing__checkboxes,
    .callSchema__page--configs[data-config="time-check"] .monthdays-choosing__checkboxes,
    .callSchema__page--configs[data-config="time-check"] .monthlist-choosing__checkboxes {
      margin-top: 5px;
      display: none; }
      .callSchema__page--configs[data-config="time-check"] .weekdays-choosing__checkboxes.show,
      .callSchema__page--configs[data-config="time-check"] .monthdays-choosing__checkboxes.show,
      .callSchema__page--configs[data-config="time-check"] .monthlist-choosing__checkboxes.show {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .callSchema__page--configs[data-config="time-check"] .weekdays-choosing__checkboxes .base-checkbox label .check,
      .callSchema__page--configs[data-config="time-check"] .monthdays-choosing__checkboxes .base-checkbox label .check,
      .callSchema__page--configs[data-config="time-check"] .monthlist-choosing__checkboxes .base-checkbox label .check {
        background: #dadada;
        border-color: #dadada; }
      .callSchema__page--configs[data-config="time-check"] .weekdays-choosing__checkboxes .base-checkbox input[type="checkbox"]:checked + label .check,
      .callSchema__page--configs[data-config="time-check"] .monthdays-choosing__checkboxes .base-checkbox input[type="checkbox"]:checked + label .check,
      .callSchema__page--configs[data-config="time-check"] .monthlist-choosing__checkboxes .base-checkbox input[type="checkbox"]:checked + label .check {
        background: #f18a17;
        border-color: #f18a17; }
      .callSchema__page--configs[data-config="time-check"] .weekdays-choosing__checkboxes .base-checkbox label .check:hover,
      .callSchema__page--configs[data-config="time-check"] .monthdays-choosing__checkboxes .base-checkbox label .check:hover,
      .callSchema__page--configs[data-config="time-check"] .monthlist-choosing__checkboxes .base-checkbox label .check:hover {
        border-color: #f18a17; }
    .callSchema__page--configs[data-config="num-check"] .config-form.num-check {
      display: block; }
      .callSchema__page--configs[data-config="num-check"] .config-form.num-check .input-block.double-inputs .input-wraps .item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 4px; }
        .callSchema__page--configs[data-config="num-check"] .config-form.num-check .input-block.double-inputs .input-wraps .item span {
          width: 22px;
          margin-right: 4px; }

.scheme_popup {
  position: absolute;
  width: 100%;
  max-width: 550px;
  z-index: 100;
  margin: 0 20px;
  margin-bottom: 30px;
  background: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 25px 25px 15px 25px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s ease, visibility .35s ease;
  -o-transition: opacity .35s ease, visibility .35s ease;
  transition: opacity .35s ease, visibility .35s ease; }
  .scheme_popup.active {
    opacity: 1;
    visibility: visible; }
  .scheme_popup__header {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .scheme_popup__close-btn {
    width: 15px;
    height: 15px;
    -webkit-transition: .35s ease;
    -o-transition: .35s ease;
    transition: .35s ease; }
    .scheme_popup__close-btn svg {
      width: 15px;
      height: 15px;
      fill: #fd0032; }
    .scheme_popup__close-btn:hover {
      opacity: .5; }
  .scheme_popup__title {
    font-size: 18px; }
  .scheme_popup__btn {
    padding: 10px;
    border: none;
    background: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: .35s ease;
    -o-transition: .35s ease;
    transition: .35s ease;
    margin-bottom: 5px; }
    .scheme_popup__btn[disabled] {
      cursor: auto;
      pointer-events: none; }
      .scheme_popup__btn[disabled] .ico {
        background: #d6e9f5; }
      .scheme_popup__btn[disabled] .title {
        color: #aaa; }
    .scheme_popup__btn:hover {
      background: rgba(103, 181, 232, 0.1); }
    .scheme_popup__btn.active {
      background: #67b5e8; }
      .scheme_popup__btn.active .ico {
        background: #fff; }
        .scheme_popup__btn.active .ico svg {
          fill: #67b5e8; }
      .scheme_popup__btn.active .title {
        color: #fff; }
    .scheme_popup__btn.green .ico {
      background: #02c832; }
    .scheme_popup__btn.green.active .ico {
      background: #fff; }
      .scheme_popup__btn.green.active .ico svg {
        fill: #02c832; }
    .scheme_popup__btn.green.active .title {
      color: #fff; }
    .scheme_popup__btn.red .ico {
      background: #fd0032; }
    .scheme_popup__btn.red.active .ico {
      background: #fff; }
      .scheme_popup__btn.red.active .ico svg {
        fill: #fd0032; }
    .scheme_popup__btn.red.active .title {
      color: #fff; }
    .scheme_popup__btn .ico {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: relative;
      display: block;
      background: #67b5e8; }
      .scheme_popup__btn .ico svg {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        max-width: 30px;
        max-height: 30px;
        fill: #fff; }
    .scheme_popup__btn .title {
      margin-top: 10px;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 11px; }
  .scheme_popup__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .scheme_popup__footer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: solid 1px #eee; }
    .scheme_popup__footer .btn {
      padding: 15px 25px; }

.callSchema__page--scheme-section .callScheme-example {
  padding-top: 25px; }
  .callSchema__page--scheme-section .callScheme-example .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto; }
    .callSchema__page--scheme-section .callScheme-example .row.connection-row {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 25px auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .callSchema__page--scheme-section .callScheme-example .row.connection-row .scheme_ppp-open-btn {
        position: relative; }
        .callSchema__page--scheme-section .callScheme-example .row.connection-row .scheme_ppp-open-btn:before {
          content: '';
          position: absolute;
          top: calc( 100% + 5px);
          width: 1px;
          height: 10px;
          background: #eee;
          left: 9px; }
        .callSchema__page--scheme-section .callScheme-example .row.connection-row .scheme_ppp-open-btn:after {
          content: '';
          position: absolute;
          bottom: calc( 100% + 5px);
          width: 1px;
          height: 10px;
          background: #eee;
          left: 9px; }
    .callSchema__page--scheme-section .callScheme-example .row.if-connection-row {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 25px auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: relative; }
      .callSchema__page--scheme-section .callScheme-example .row.if-connection-row:before {
        content: '';
        position: absolute;
        top: -14px;
        height: 1px;
        background: #eee;
        left: 22px;
        right: 22px; }
      .callSchema__page--scheme-section .callScheme-example .row.if-connection-row .wrp {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .callSchema__page--scheme-section .callScheme-example .row.if-connection-row .point {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        display: block;
        background: #67b5e8;
        font-size: 13px;
        font-weight: 600;
        color: #fff;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center; }
        .callSchema__page--scheme-section .callScheme-example .row.if-connection-row .point:before {
          content: '';
          position: absolute;
          bottom: calc( 100% + 5px);
          width: 1px;
          height: 10px;
          background: #eee;
          left: 18px;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg); }
        .callSchema__page--scheme-section .callScheme-example .row.if-connection-row .point.rght:before {
          left: 10px;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg); }
  .callSchema__page--scheme-section .callScheme-example .callScheme__point {
    position: relative;
    padding: 0 10px;
    max-width: 120px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .callSchema__page--scheme-section .callScheme-example .callScheme__point.start-call .ico {
      background: #02c832; }
      .callSchema__page--scheme-section .callScheme-example .callScheme__point.start-call .ico .counter {
        background: #02c832; }
    .callSchema__page--scheme-section .callScheme-example .callScheme__point.end-call .ico {
      background: #fd0032; }
      .callSchema__page--scheme-section .callScheme-example .callScheme__point.end-call .ico .counter {
        background: #fd0032; }
    .callSchema__page--scheme-section .callScheme-example .callScheme__point .ico {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: relative;
      display: block;
      background: #67b5e8; }
      .callSchema__page--scheme-section .callScheme-example .callScheme__point .ico svg {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        max-width: 30px;
        max-height: 30px;
        fill: #fff; }
    .callSchema__page--scheme-section .callScheme-example .callScheme__point .counter {
      width: 20px;
      height: 20px;
      background: #67b5e8;
      border-radius: 50%;
      border: solid 3px #fff;
      position: absolute;
      z-index: 1;
      top: 0px;
      left: -8px; }
      .callSchema__page--scheme-section .callScheme-example .callScheme__point .counter span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        color: #fff;
        font-size: 10px;
        font-weight: 700;
        line-height: 9px; }
    .callSchema__page--scheme-section .callScheme-example .callScheme__point .title {
      margin-top: 10px;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 11px;
      text-align: center; }

.callScheme__point {
  position: relative;
  padding: 0 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 2px transparent;
          box-shadow: 0 0 0 2px transparent; }
  .callScheme__point .ico:hover {
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85); }
    .callScheme__point .ico:hover ~ .title {
      color: #67b5e8; }
  .callScheme__point .ico.active {
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85);
    background: transparent !important;
    -webkit-box-shadow: 0 0 0 2px #67b5e8;
            box-shadow: 0 0 0 2px #67b5e8; }
    .callScheme__point .ico.active svg {
      fill: #67b5e8 !important; }
    .callScheme__point .ico.active ~ .title {
      color: #67b5e8; }
  .callScheme__point.simple {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    display: block;
    background: #67b5e8;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
  .callScheme__point.start-call .ico {
    background: #02c832; }
    .callScheme__point.start-call .ico .counter {
      background: #02c832; }
  .callScheme__point.end-call .ico {
    background: #fd0032; }
    .callScheme__point.end-call .ico .counter {
      background: #fd0032; }
  .callScheme__point .ico {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    display: block;
    background: #67b5e8;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .callScheme__point .ico svg {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      max-width: 30px;
      max-height: 30px;
      fill: #fff; }
  .callScheme__point .counter {
    width: 20px;
    height: 20px;
    background: #67b5e8;
    border-radius: 50%;
    border: solid 3px #fff;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: -8px; }
    .callScheme__point .counter span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      color: #fff;
      font-size: 10px;
      font-weight: 700;
      line-height: 9px; }
  .callScheme__point .title {
    margin-top: 10px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .callScheme__point.w-options {
    padding-top: 15px; }
    .callScheme__point.w-options:before {
      bottom: calc( 100% - 10px) !important; }
  .callScheme__point.w-connection .callScheme__point--btn.btn.base-btn {
    position: absolute; }
  .callScheme__point.w-connection.w-c__down {
    padding-bottom: 99px; }
    .callScheme__point.w-connection.w-c__down .callScheme__point--btn.btn.base-btn {
      top: calc( 100% - 20px);
      left: calc(50% - 10px);
      z-index: 2; }
    .callScheme__point.w-connection.w-c__down:after {
      content: '';
      position: absolute;
      top: calc( 100% - 95px);
      width: 1px;
      height: 70px;
      background: #d8d8d8;
      left: calc(50% - 0.5px); }
  .callScheme__point.w-connection.w-c__up:not(.w-options) {
    padding-top: 99px; }
    .callScheme__point.w-connection.w-c__up:not(.w-options):before {
      bottom: calc( 100% - 95px);
      height: 95px; }
  .callScheme__point.w-connection.w-c__up.w-c__down {
    padding-top: 49px;
    padding-bottom: 50px; }
    .callScheme__point.w-connection.w-c__up.w-c__down:before {
      bottom: calc( 100% - 45px);
      height: 45px; }
    .callScheme__point.w-connection.w-c__up.w-c__down:after {
      top: calc( 100% - 45px);
      height: 20px; }
  .callScheme__point.w-connection.w-c__up:before {
    content: '';
    position: absolute;
    bottom: calc( 100% + 5px);
    width: 1px;
    height: 10px;
    background: #d8d8d8;
    left: calc(50% - 0.5px); }
  .callScheme__point.w-connection.w-c__down-duo .callScheme__point--btn.btn.base-btn {
    top: calc( 100% + 20px);
    left: calc(50% - 10px);
    z-index: 2; }
  .callScheme__point.w-connection.w-c__down-duo .connection-line {
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .callScheme__point.w-connection.w-c__down-duo .connection-line .lft {
      width: 30px;
      background: #d8d8d8;
      height: 1px;
      position: relative;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
      .callScheme__point.w-connection.w-c__down-duo .connection-line .lft:before {
        content: '';
        position: absolute;
        top: -1px;
        width: 1px;
        height: 10px;
        background: #d8d8d8;
        left: -4px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .callScheme__point.w-connection.w-c__down-duo .connection-line .rght {
      width: 30px;
      background: #d8d8d8;
      height: 1px;
      position: relative; }
      .callScheme__point.w-connection.w-c__down-duo .connection-line .rght:before {
        content: '';
        position: absolute;
        top: -1px;
        width: 1px;
        height: 10px;
        background: #d8d8d8;
        right: -4px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
  .callScheme__point.w-connection.w-c__down-duo .options-line {
    position: relative;
    margin-top: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 32px; }
    .callScheme__point.w-connection.w-c__down-duo .options-line:before {
      content: '';
      position: absolute;
      left: 24px;
      right: 24px;
      height: 1px;
      background: #d8d8d8;
      top: -1px; }
    .callScheme__point.w-connection.w-c__down-duo .options-line .callScheme__point--btn.btn.base-btn {
      top: calc( 100% + 12px); }
    .callScheme__point.w-connection.w-c__down-duo .options-line .point {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: relative;
      display: block;
      background: #67b5e8;
      font-size: 13px;
      font-weight: 600;
      color: #fff;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
      .callScheme__point.w-connection.w-c__down-duo .options-line .point:after {
        content: '';
        position: absolute;
        top: calc( 100% + 3px);
        width: 1px;
        height: 5px;
        background: #d8d8d8;
        left: calc(50% - 0.5px); }
      .callScheme__point.w-connection.w-c__down-duo .options-line .point.lft:before {
        content: '';
        position: absolute;
        bottom: calc(100% + 2px);
        width: 1px;
        height: 10px;
        background: #d8d8d8;
        left: calc(50% + 5px);
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .callScheme__point.w-connection.w-c__down-duo .options-line .point.rght:before {
        content: '';
        position: absolute;
        bottom: calc(100% + 2px);
        width: 1px;
        height: 10px;
        background: #d8d8d8;
        right: calc(50% + 5px);
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
  .callScheme__point--btn.btn.base-btn {
    margin: auto;
    display: block;
    font-size: 25px;
    font-weight: 400;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    line-height: 20px;
    color: #fff;
    text-align: center; }

@media (max-width: 1200px) {
  .callSchema__page--offer .content {
    width: 100%; }
    .callSchema__page--offer .content .txt {
      margin-bottom: 6px; }
    .callSchema__page--offer .content .heading {
      line-height: 1.2; }
    .callSchema__page--offer .content .info {
      line-height: 1.2; }
  .callSchema__page--offer .close-offer {
    margin-right: auto;
    margin-left: 0;
    margin-top: 10px; } }

@media (max-width: 1000px) {
  .callSchema__page__open-sidebar-btn.btn.base-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 120; }
  .callSchema__page--scheme-section__save-btn.btn.base-btn {
    z-index: 120; }
  .callSchema__page--sidebar .section-title .callSchema__page__close-sidebar-btn {
    display: block; }
  .callSchema__page--sidebar {
    position: fixed;
    top: 77px;
    left: 0;
    display: none;
    background: #fff;
    z-index: 200;
    width: 320px;
    margin-left: 0;
    padding-left: 10px;
    -webkit-box-shadow: 2px 0 25px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 0 25px rgba(0, 0, 0, 0.25); }
    .callSchema__page--sidebar.opened {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .callSchema__page--sidebar .callSchema__page--configs .config-form,
    .callSchema__page--sidebar .base-tab {
      padding-bottom: 60px; }
    .callSchema__page--sidebar .base-tab__body {
      padding-right: 10px; }
    .callSchema__page--sidebar .base-tab__header .btn {
      margin: 0 20px 0 0; }
    .callSchema__page--sidebar .callSchema__page--configs .config-form {
      padding: 0 10px; }
  .callSchema__page--scheme-section {
    width: 100%;
    padding-left: 0px; } }

@media (max-width: 960px) {
  .callSchema__page--offer .content .txt {
    margin-right: 0; } }

@media (max-width: 640px) {
  .callSchema__page--scheme-section {
    height: calc(100vh - 107px); }
  .scheme_popup {
    width: 90%; } }

@media (max-width: 450px) {
  .callSchema__page--sidebar {
    width: 100%; }
    .callSchema__page--sidebar .scroll-wrapper.scrollbar-inner {
      width: 100%; }
    .callSchema__page--sidebar .base-tab__block form.main-form,
    .callSchema__page--sidebar .base-tab__block .form-container {
      max-width: 100% !important;
      width: 100% !important; }
    .callSchema__page--sidebar .callSchema__page--configs .config-form .form_div {
      max-width: 100%; } }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important; }

.callScheme--wrap {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  .callScheme--wrap .scheme-item__tel__scname {
    text-align: center;
    position: relative;
    display: block; }
    .callScheme--wrap .scheme-item__tel__scname > .item:first-child:after,
    .callScheme--wrap .scheme-item__tel__scname > .item:first-child > .after {
      display: none; }
    .callScheme--wrap .scheme-item__tel__scname .item:last-child {
      margin-bottom: 0px; }
  .callScheme--wrap .item {
    position: relative;
    width: 160px;
    text-align: center;
    margin: 0 auto 5px;
    font-size: 0; }
    .callScheme--wrap .item.cn-up {
      padding-top: 40px; }
      .callScheme--wrap .item.cn-up:after {
        content: '';
        position: absolute;
        top: 5px;
        width: 1px;
        height: 30px;
        background: #d8d8d8;
        left: calc(50% - 0.5px); }
    .callScheme--wrap .item.cn-up-down {
      padding-top: 40px; }
      .callScheme--wrap .item.cn-up-down .new-item--btn {
        margin-top: 42px; }
        .callScheme--wrap .item.cn-up-down .new-item--btn:before {
          height: 32px; }
      .callScheme--wrap .item.cn-up-down:after {
        content: '';
        position: absolute;
        top: 5px;
        width: 1px;
        height: 30px;
        background: #d8d8d8;
        left: calc(50% - 0.5px); }
    .callScheme--wrap .item.cn-options {
      margin-top: 20px; }
      .callScheme--wrap .item.cn-options:after,
      .callScheme--wrap .item.cn-options > .after {
        content: '';
        position: absolute;
        left: calc(50% - 0.5px);
        bottom: calc(100% + 5px);
        width: 1px;
        height: 10px;
        background: #d8d8d8; }
    .callScheme--wrap .item .icon {
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      background: #67b5e8;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .callScheme--wrap .item .icon.calling {
        background: #02c832; }
        .callScheme--wrap .item .icon.calling .counter {
          background: #02c832; }
      .callScheme--wrap .item .icon.cancel {
        background: #fd0032; }
        .callScheme--wrap .item .icon.cancel .counter {
          background: #fd0032; }
      .callScheme--wrap .item .icon svg {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        max-width: 30px;
        max-height: 30px;
        fill: #fff; }
      .callScheme--wrap .item .icon .counter {
        width: 20px;
        height: 20px;
        background: #67b5e8;
        border-radius: 50%;
        border: solid 3px #fff;
        position: absolute;
        z-index: 1;
        top: 0px;
        left: -8px; }
        .callScheme--wrap .item .icon .counter span {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          color: #fff;
          font-size: 10px;
          font-weight: 700;
          line-height: 9px; }
      .callScheme--wrap .item .icon:hover {
        -webkit-transform: scale(0.85);
            -ms-transform: scale(0.85);
                transform: scale(0.85); }
        .callScheme--wrap .item .icon:hover ~ .name {
          color: #67b5e8; }
    .callScheme--wrap .item.active .icon {
      -webkit-transform: scale(0.85);
          -ms-transform: scale(0.85);
              transform: scale(0.85);
      background: transparent !important;
      -webkit-box-shadow: 0 0 0 2px #67b5e8;
              box-shadow: 0 0 0 2px #67b5e8; }
      .callScheme--wrap .item.active .icon svg {
        fill: #67b5e8 !important; }
      .callScheme--wrap .item.active .icon ~ .name {
        color: #67b5e8; }
  .callScheme--wrap .new-item--btn {
    margin: auto;
    display: block;
    font-size: 25px;
    font-weight: 400;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    line-height: 20px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    position: relative; }
    .callScheme--wrap .new-item--btn:before {
      content: '';
      position: absolute;
      bottom: calc( 100% + 5px);
      width: 1px;
      height: 10px;
      background: #d8d8d8;
      left: calc(50% - 0.5px); }
  .callScheme--wrap .icon {
    background: #67b5e8;
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
    border-radius: 50%; }
  .callScheme--wrap .name {
    margin-top: 8px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .callScheme--wrap .yes-no {
    white-space: nowrap;
    padding-top: 20px;
    position: relative;
    display: inline-block; }
    .callScheme--wrap .yes-no .new-item--btn {
      margin-top: 15px; }
      .callScheme--wrap .yes-no .new-item--btn:before {
        height: 5px; }
    .callScheme--wrap .yes-no.spec-padding {
      padding-right: 100px;
      padding-left: 100px; }
    .callScheme--wrap .yes-no[data-name="voice-menu"] {
      width: auto;
      display: inline-block;
      padding-bottom: 10px; }
    .callScheme--wrap .yes-no[data-name="voice-menu"] div[data-voice-counter] {
      display: none; }
    .callScheme--wrap .yes-no[data-name="voice-menu"] > div:first-child {
      margin-left: 0; }
    .callScheme--wrap .yes-no[data-name="voice-menu"] > div.no {
      margin-left: 50px; }
    .callScheme--wrap .yes-no[data-name="voice-menu"] div[data-voice-counter].shown {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px; }
    .callScheme--wrap .yes-no > div {
      vertical-align: top;
      white-space: normal; }
    .callScheme--wrap .yes-no div.yes {
      display: inline-block; }
      .callScheme--wrap .yes-no div.yes > i.icon:before,
      .callScheme--wrap .yes-no div.yes > i.icon > .before {
        content: '';
        position: absolute;
        bottom: calc( 100% + 5px);
        width: 1px;
        height: 10px;
        background: #d8d8d8;
        left: 18px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .callScheme--wrap .yes-no div.no {
      display: inline-block;
      margin-left: 50px; }
      .callScheme--wrap .yes-no div.no > i.icon:before,
      .callScheme--wrap .yes-no div.no > i.icon > .before {
        content: '';
        position: absolute;
        bottom: calc( 100% + 5px);
        width: 1px;
        height: 10px;
        background: #d8d8d8;
        left: 10px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .callScheme--wrap .yes-no .yes > .icon, .callScheme--wrap .yes-no .no > .icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: relative;
      display: block;
      background: #67b5e8;
      font-size: 13px;
      font-weight: 600;
      color: #fff;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
      .callScheme--wrap .yes-no .yes > .icon.spec, .callScheme--wrap .yes-no .no > .icon.spec {
        font-size: 8px;
        line-height: 8px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
    .callScheme--wrap .yes-no .tech-line {
      position: absolute;
      top: 6px;
      height: 1px;
      background: #d8d8d8; }
