.tariffs__page {
  padding-top: 120px; }
  .tariffs__page .section-title {
    font-weight: 400; }
  .tariffs__page--section {
    margin-bottom: 70px; }
    .tariffs__page--section.configurations .service-item__action {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .tariffs__page--section.configurations .btn.base-btn {
      margin-bottom: 24px; }
    .tariffs__page--section.configurations .btn.base-btn.requests-btn {
      margin-bottom: 10px;
      background: #fff;
      border: solid 2px #ffd802; }
      .tariffs__page--section.configurations .btn.base-btn.requests-btn:hover {
        background: #ffc202;
        border-color: #ffc202; }
    .tariffs__page--section.partner-services .services-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 20px; }
      .tariffs__page--section.partner-services .services-container .info {
        width: 100%;
        margin-top: 20px;
        font-size: 12px;
        font-weight: 500;
        color: #636363; }
        .tariffs__page--section.partner-services .services-container .info a {
          font-size: inherit; }
    .tariffs__page--section.partner-services .btn.base-btn.small {
      padding: 5px 8px;
      margin-right: 0;
      margin-left: auto; }
    .tariffs__page--section.partner-services .partner-services--item {
      width: 46%;
      max-width: 400px;
      min-width: 280px;
      height: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      margin-right: 3%;
      margin-bottom: 10px; }
      .tariffs__page--section.partner-services .partner-services--item .cover img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        position: absolute; }
      .tariffs__page--section.partner-services .partner-services--item .content {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 50px 14px 12px;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
        background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0) 100%); }
        .tariffs__page--section.partner-services .partner-services--item .content .heading {
          text-transform: uppercase;
          color: #fff;
          font-weight: 700;
          font-size: 12px;
          margin-right: 10px;
          line-height: 1.35; }
  .tariffs__page .services-container {
    margin-top: 30px;
    border-radius: 5px;
    border: solid 2px #ffd802;
    padding: 0px 20px; }
  .tariffs__page .service-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0px; }
    .tariffs__page .service-item:not(:last-of-type) {
      border-bottom: solid 1px #eee; }
    .tariffs__page .service-item__ico {
      border-radius: 50%;
      width: 55px;
      height: 55px;
      background: #4db6e5;
      position: relative;
      margin-right: 30px;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
      .tariffs__page .service-item__ico svg {
        max-width: 30px;
        max-height: 30px;
        fill: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    .tariffs__page .service-item__content {
      font-size: 13px;
      line-height: 1.2;
      color: #5f5f5f;
      padding-right: 10px; }
      .tariffs__page .service-item__content .show-more-btn {
        display: none;
        font-family: Montserrat;
        font-size: 12px;
        color: #949494;
        border-bottom: solid 1px #949494;
        margin-bottom: 14px; }
      .tariffs__page .service-item__content b {
        font-weight: 700;
        color: #313131; }
      .tariffs__page .service-item__content--title {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 5px;
        color: #313131; }
        .tariffs__page .service-item__content--title .active-tariff {
          font-weight: 500;
          font-size: 12px;
          color: #4db6e5; }
      .tariffs__page .service-item__content--info {
        line-height: 1.35; }
        .tariffs__page .service-item__content--info .base-link {
          margin-top: 8px;
          font-size: 11px;
          color: #949494;
          border-color: #949494; }
          .tariffs__page .service-item__content--info .base-link:hover {
            color: #f18a17;
            border-color: #f18a17; }
      .tariffs__page .service-item__content--connected-numbers {
        margin-top: 22px;
        margin-bottom: 30px; }
        .tariffs__page .service-item__content--connected-numbers .ttl {
          font-weight: 700;
          color: #4db6e5; }
        .tariffs__page .service-item__content--connected-numbers .tbl {
          margin-top: 12px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          .tariffs__page .service-item__content--connected-numbers .tbl .row {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
            .tariffs__page .service-item__content--connected-numbers .tbl .row:not(:last-child) {
              border-bottom: solid 1px #eee;
              margin-bottom: 10px; }
          .tariffs__page .service-item__content--connected-numbers .tbl .cell {
            font-size: 12px;
            padding: 0 20px;
            margin-bottom: 10px; }
            .tariffs__page .service-item__content--connected-numbers .tbl .cell .btn.base-btn {
              margin-bottom: 0; }
            .tariffs__page .service-item__content--connected-numbers .tbl .cell:nth-of-type(1) {
              padding: 0 40px 0 20px;
              min-width: 168px; }
            .tariffs__page .service-item__content--connected-numbers .tbl .cell:nth-of-type(2) {
              padding: 0 40px 0 20px; }
    .tariffs__page .service-item__action {
      margin-right: 0;
      margin-left: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
      .tariffs__page .service-item__action--details {
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 700;
        color: #4e4e4e;
        text-align: center; }
      .tariffs__page .service-item__action.connected .service-item__action--details {
        opacity: .5; }
  .tariffs__page .btn.base-btn.connected {
    background: #fff;
    border: solid 2px #139a13;
    color: #139a13;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 180px;
    -webkit-transition: background .35s ease;
    -o-transition: background .35s ease;
    transition: background .35s ease; }
    .tariffs__page .btn.base-btn.connected svg {
      margin-right: 8px;
      width: 16px;
      height: 14px;
      fill: #139a13 !important;
      -webkit-transition: .35s ease;
      -o-transition: .35s ease;
      transition: .35s ease;
      vertical-align: middle;
      display: inline-block; }
      .tariffs__page .btn.base-btn.connected svg path {
        fill: #139a13 !important; }
    .tariffs__page .btn.base-btn.connected .enable span,
    .tariffs__page .btn.base-btn.connected .disable span {
      vertical-align: middle;
      display: inline-block; }
    .tariffs__page .btn.base-btn.connected .disable {
      display: none; }
    .tariffs__page .btn.base-btn.connected:hover {
      background: #fff;
      border-color: #ff0101;
      color: #ff0101; }
      .tariffs__page .btn.base-btn.connected:hover svg {
        fill: #ff0101 !important; }
        .tariffs__page .btn.base-btn.connected:hover svg path {
          fill: #ff0101 !important; }
      .tariffs__page .btn.base-btn.connected:hover .enable {
        display: none; }
      .tariffs__page .btn.base-btn.connected:hover .disable {
        display: inline-block; }
    .tariffs__page .btn.base-btn.connected.disable {
      background: #fff;
      border-color: #ff0101;
      color: #ff0101; }
      .tariffs__page .btn.base-btn.connected.disable .disable {
        display: inline-block; }
      .tariffs__page .btn.base-btn.connected.disable svg {
        fill: #ff0101 !important; }
        .tariffs__page .btn.base-btn.connected.disable svg path {
          fill: #ff0101 !important; }
      .tariffs__page .btn.base-btn.connected.disable:hover {
        background: #ff0101;
        border-color: #ff0101;
        color: #fff; }
        .tariffs__page .btn.base-btn.connected.disable:hover svg {
          fill: #fff !important; }
          .tariffs__page .btn.base-btn.connected.disable:hover svg path {
            fill: #fff !important; }
      .tariffs__page .btn.base-btn.connected.disable.small {
        padding: 4px 10px;
        min-width: 140px; }
        .tariffs__page .btn.base-btn.connected.disable.small svg {
          max-width: 10px;
          max-height: 10px; }

.select-number_popup .base-tab__header .scrollbar-inner {
  overflow: hidden !important; }

.select-number_popup .base-popup__container {
  max-width: 700px; }

.select-number_popup .base-popup__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .select-number_popup .base-popup__title .title {
    margin-right: 30px; }

.select-number_popup--codes .btn.base-btn {
  background: transparent;
  border-radius: 40px; }
  .select-number_popup--codes .btn.base-btn.active {
    background: #ffd802; }
  .select-number_popup--codes .btn.base-btn:hover {
    background: rgba(255, 216, 2, 0.3); }

.select-number_popup--codes .select.fill.select-filter {
  vertical-align: middle; }
  .select-number_popup--codes .select.fill.select-filter.active dt {
    background: #ffd802; }
  .select-number_popup--codes .select.fill.select-filter:hover dt {
    background: rgba(255, 216, 2, 0.3); }
  .select-number_popup--codes .select.fill.select-filter dt {
    background: none;
    border: none;
    padding: 5px 15px;
    border-radius: 40px;
    -webkit-transition: .35s ease;
    -o-transition: .35s ease;
    transition: .35s ease; }
    .select-number_popup--codes .select.fill.select-filter dt:before {
      display: none; }
    .select-number_popup--codes .select.fill.select-filter dt.active {
      background: #ffd802; }
    .select-number_popup--codes .select.fill.select-filter dt input {
      font-size: 12px;
      color: #151515;
      font-weight: 700; }
  .select-number_popup--codes .select.fill.select-filter dd {
    top: 115%; }
    .select-number_popup--codes .select.fill.select-filter dd .select-options {
      border-top: 1px solid #d0d0d0; }
      .select-number_popup--codes .select.fill.select-filter dd .select-options a {
        font-size: 12px;
        color: #151515;
        font-weight: 700;
        padding-right: 50px;
        position: relative; }
        .select-number_popup--codes .select.fill.select-filter dd .select-options a:before {
          content: attr(data-code);
          font-size: 12px;
          color: #9e9e9e;
          position: absolute;
          right: 8px;
          top: 8px;
          font-weight: 500; }

.select-number_popup .base-tab {
  margin-bottom: 30px; }
  .select-number_popup .base-tab .base-tab__header {
    background: #eee;
    border-radius: 3px;
    overflow: hidden;
    position: relative; }
    .select-number_popup .base-tab .base-tab__header:before {
      display: none; }
    .select-number_popup .base-tab .base-tab__header .scrollbar-inner .scroll-content {
      padding-bottom: 0 !important;
      width: 100% !important;
      position: relative; }
  .select-number_popup .base-tab .base-tab__btn {
    padding: 10px 15px;
    min-width: 20%;
    text-align: left;
    margin-right: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .select-number_popup .base-tab .base-tab__btn.active {
      background: #ffd802; }
      .select-number_popup .base-tab .base-tab__btn.active .price.bronze, .select-number_popup .base-tab .base-tab__btn.active .price.silver, .select-number_popup .base-tab .base-tab__btn.active .price.gold {
        background: rgba(255, 255, 255, 0.4); }
    .select-number_popup .base-tab .base-tab__btn:before {
      display: none; }
    .select-number_popup .base-tab .base-tab__btn .title {
      display: block;
      font-weight: 700;
      margin-bottom: 5px; }
    .select-number_popup .base-tab .base-tab__btn .price {
      display: block;
      font-size: 11px;
      font-weight: 500; }
      .select-number_popup .base-tab .base-tab__btn .price.free {
        opacity: .5; }
      .select-number_popup .base-tab .base-tab__btn .price.bronze {
        background: #eedcd0; }
      .select-number_popup .base-tab .base-tab__btn .price.silver {
        background: #cdccca; }
      .select-number_popup .base-tab .base-tab__btn .price.gold {
        background: #f3e3af; }

.select-number_popup .select-number_popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .select-number_popup .select-number_popup__form .select-number_popup__filter {
    width: 100%;
    margin-bottom: 10px; }
    .select-number_popup .select-number_popup__form .select-number_popup__filter .input-block label {
      font-weight: 600; }
  .select-number_popup .select-number_popup__form .radiogroup {
    width: 100%;
    margin-bottom: 20px; }
    .select-number_popup .select-number_popup__form .radiogroup #rd-group1 {
      font-size: 0; }
      .select-number_popup .select-number_popup__form .radiogroup #rd-group1 .col__3 {
        width: 33%;
        display: inline-block; }
      .select-number_popup .select-number_popup__form .radiogroup #rd-group1 .base-radio {
        margin-bottom: 15px; }
        .select-number_popup .select-number_popup__form .radiogroup #rd-group1 .base-radio i.bronze {
          background: #eedcd0; }
        .select-number_popup .select-number_popup__form .radiogroup #rd-group1 .base-radio i.silver {
          background: #cdccca; }
        .select-number_popup .select-number_popup__form .radiogroup #rd-group1 .base-radio i.gold {
          background: #f3e3af; }
  .select-number_popup .select-number_popup__form .row {
    width: 100%;
    margin-bottom: 20px; }

.request-numbers_popup .base-popup__container {
  max-height: 90vh; }

.request-numbers_popup .request_popup__numbers {
  max-height: 55vh !important; }
  .request-numbers_popup .request_popup__numbers .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .request-numbers_popup .request_popup__numbers .row:not(:last-child) {
      border-bottom: solid 1px #eee;
      margin-bottom: 10px;
      padding-bottom: 5px; }
  .request-numbers_popup .request_popup__numbers .num {
    font-size: 18px;
    width: 60%;
    min-width: 200px;
    margin-bottom: 5px; }
  .request-numbers_popup .request_popup__numbers .status {
    width: 40%;
    margin-bottom: 5px; }
  .request-numbers_popup .request_popup__numbers .tag {
    font-size: 13px;
    padding: 2px 5px;
    background: #eee;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 3px; }
    .request-numbers_popup .request_popup__numbers .tag.green {
      background: rgba(6, 148, 5, 0.1);
      color: #069405; }
    .request-numbers_popup .request_popup__numbers .tag.red {
      background: rgba(255, 1, 1, 0.1);
      color: #ff0101; }

.connect-external_popup .base-popup__container {
  max-width: 450px; }

.connect-external_popup form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .connect-external_popup form p.info {
    color: #f18a17;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px; }

.connect-external_popup .box {
  width: 100%;
  padding: 10px;
  background: #f8f8f8;
  border-radius: 3px;
  margin-bottom: 30px; }
  .connect-external_popup .box .title {
    margin-top: 5px;
    font-size: 13px;
    margin-bottom: 15px;
    color: #6f6f6f; }
  .connect-external_popup .box .input-block {
    max-width: 100%; }
  .connect-external_popup .box .row.port {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .connect-external_popup .box .row.port .input-block:nth-of-type(1) {
      width: calc(100% - 90px); }
    .connect-external_popup .box .row.port .input-block:nth-of-type(2) {
      width: 80px; }

@media (max-width: 700px) {
  .select-number_popup .base-tab__header .scrollbar-inner {
    overflow: scroll hidden !important; } }

@media (max-width: 660px) {
  .tariffs__page--section.partner-services .partner-services--item {
    width: 100%;
    margin-right: 0; }
  .select-number_popup .base-popup__title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .select-number_popup .select-number_popup--codes {
    width: 100%;
    margin-top: 10px; }
  .select-number_popup .select-number_popup__form .radiogroup #rd-group1 .col__3 {
    width: 50%; } }

@media (max-width: 600px) {
  .tariffs__page .service-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .tariffs__page .service-item .service-item__content.show-more .show-more-btn {
      color: #ed9f01;
      border-color: #ed9f01; }
    .tariffs__page .service-item .service-item__content.show-more .service-item__content--info {
      display: block;
      margin-bottom: 30px; }
    .tariffs__page .service-item .service-item__ico {
      margin-bottom: 20px;
      margin-right: 0; }
    .tariffs__page .service-item .service-item__action {
      margin-right: auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .tariffs__page .service-item .service-item__content {
      padding-right: 0;
      text-align: center; }
      .tariffs__page .service-item .service-item__content .active-tariff {
        display: block; }
      .tariffs__page .service-item .service-item__content .show-more-btn {
        display: inline-block; }
      .tariffs__page .service-item .service-item__content .service-item__content--connected-numbers {
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .tariffs__page .service-item .service-item__content .service-item__content--connected-numbers .row {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin-bottom: 30px; }
          .tariffs__page .service-item .service-item__content .service-item__content--connected-numbers .row .cell {
            display: block;
            width: 100%;
            padding: 0;
            margin-bottom: 20px; }
            .tariffs__page .service-item .service-item__content .service-item__content--connected-numbers .row .cell:first-child {
              font-size: 16px; }
            .tariffs__page .service-item .service-item__content .service-item__content--connected-numbers .row .cell b {
              display: block; }
      .tariffs__page .service-item .service-item__content .service-item__content--info {
        display: none; } }

@media (max-width: 420px) {
  .select-number_popup .base-popup__container {
    width: 96%;
    padding: 28px 3%; }
  .select-number_popup .select-number_popup__filter .input-block input {
    max-width: 270px; }
  .select-number_popup .select-number_popup__form .radiogroup #rd-group1 .col__3 {
    width: 100%; } }
