.reports__page {
  padding-top: 77px;
  overflow: hidden; }
  .reports__page__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .reports__page__filters {
    width: 300px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #f0f0f0;
    min-height: 100vh;
    position: relative; }
    .reports__page__filters__header {
      margin-bottom: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .reports__page__filters__header .btn.maximize-filters {
        display: none;
        position: relative;
        width: 20px;
        height: 20px;
        z-index: 1;
        background: #e6e6e6;
        border-radius: 50%; }
        .reports__page__filters__header .btn.maximize-filters svg {
          width: 12px;
          fill: #000;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
    .reports__page__filters--title {
      font-size: 18px;
      color: #505050; }
    .reports__page__filters:before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100%;
      right: 0;
      top: 0;
      background: #f0f0f0;
      z-index: -1; }
    .reports__page__filters .select dt,
    .reports__page__filters .input-block input {
      background: transparent; }
    .reports__page__filters .base-checkbox label .check {
      background: transparent;
      border-color: rgba(0, 0, 0, 0.12); }
    .reports__page__filters .filter-block {
      margin-bottom: 35px; }
      .reports__page__filters .filter-block > label {
        display: block;
        font-size: 13px;
        font-family: Montserrat;
        font-weight: 700;
        margin-bottom: 10px; }
      .reports__page__filters .filter-block.date .date-picker {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .reports__page__filters .filter-block.date .date-picker .input-block {
          width: calc(50% - 20px);
          margin-bottom: 0; }
        .reports__page__filters .filter-block.date .date-picker .divider {
          margin: 0 10px;
          width: 20px;
          height: 1px;
          background: rgba(0, 0, 0, 0.12); }
      .reports__page__filters .filter-block.time .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .reports__page__filters .filter-block.time .row .input-block {
          width: calc(50% - 20px);
          margin-bottom: 0; }
        .reports__page__filters .filter-block.time .row .divider {
          margin: 0 10px;
          width: 20px;
          height: 1px;
          background: rgba(0, 0, 0, 0.12); }
      .reports__page__filters .filter-block.type .base-checkbox, .reports__page__filters .filter-block.status .base-checkbox {
        margin-bottom: 8px; }
      .reports__page__filters .filter-block.btn-row {
        margin-top: 60px; }
        .reports__page__filters .filter-block.btn-row .btn {
          width: 100%;
          background: transparent;
          border: solid 1px #ffd802; }
          .reports__page__filters .filter-block.btn-row .btn:hover {
            background: #ffc202;
            border-color: #ffc202; }
  .reports__page__content {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 80px;
    width: calc(100% - 300px); }
    .reports__page__content--header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 40px; }
    .reports__page__content .report-type--links {
      width: 200px;
      margin-left: 0;
      display: inline-block;
      position: relative;
      margin-bottom: 0; }
      .reports__page__content .report-type--links .select.select-filter dt {
        border-color: #313131 !important; }
      .reports__page__content .report-type--links dt {
        padding: 10px 15px !important;
        width: 200px;
        background: #313131;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-color: #313131 !important; }
        .reports__page__content .report-type--links dt:before {
          border-top-color: #fff !important; }
        .reports__page__content .report-type--links dt svg {
          width: 15px;
          height: 15px;
          fill: #fff;
          margin-right: 8px; }
        .reports__page__content .report-type--links dt span {
          color: #fff; }
      .reports__page__content .report-type--links dd .select-options a:before {
        display: none !important; }
    .reports__page__content .page-title {
      font-size: 18px;
      font-weight: 700;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      -webkit-transform: translateX(-100px);
          -ms-transform: translateX(-100px);
              transform: translateX(-100px); }
    .reports__page__content--chart {
      width: 100%; }
      .reports__page__content--chart__header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 30px; }
      .reports__page__content--chart__mobile {
        display: none;
        text-align: center;
        color: grey;
        padding: 40px 20px;
        background: #e6e6e6; }
      .reports__page__content--chart .select-block.group-by {
        width: 140px; }
        .reports__page__content--chart .select-block.group-by label {
          color: #a2a2a2;
          font-weight: 500;
          font-size: 12px; }
      .reports__page__content--chart .btn.excel-btn {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-right: 0;
        margin-left: auto;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .reports__page__content--chart .btn.excel-btn:hover span {
          border-bottom-color: #ed9f01; }
        .reports__page__content--chart .btn.excel-btn svg {
          width: 20px;
          height: 20px;
          margin-right: 8px; }
        .reports__page__content--chart .btn.excel-btn span {
          font: 14px Montserrat;
          border-bottom: solid 1px #eee; }
    .reports__page__content--table {
      margin-top: 40px; }
      .reports__page__content--table .base-table {
        border-bottom: solid 1px rgba(0, 0, 0, 0.05); }
        .reports__page__content--table .base-table td:nth-of-type(1) {
          min-width: 90px; }
        .reports__page__content--table .base-table td:nth-of-type(2) {
          min-width: 160px; }
        .reports__page__content--table .base-table td:nth-of-type(3) {
          min-width: 160px; }
        .reports__page__content--table .base-table td:nth-of-type(4) {
          min-width: 160px; }
        .reports__page__content--table .base-table td:nth-of-type(8) {
          min-width: 90px; }
        .reports__page__content--table .base-table tbody td {
          -webkit-transition: background .35s ease;
          -o-transition: background .35s ease;
          transition: background .35s ease; }
        .reports__page__content--table .base-table tbody tr.no-answer td {
          background: rgba(234, 16, 11, 0.075); }
        .reports__page__content--table .base-table tbody .call-time .time,
        .reports__page__content--table .base-table tbody .call-time .date {
          display: block; }
        .reports__page__content--table .base-table tbody .call-time .time {
          margin-top: 3px; }
          .reports__page__content--table .base-table tbody .call-time .time .zone {
            opacity: .6;
            font-size: 12px; }
        .reports__page__content--table .base-table tbody .call-type {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .reports__page__content--table .base-table tbody .call-type svg {
            fill: #ed9f01;
            width: 15px;
            margin-right: 10px;
            -ms-flex-negative: 0;
                flex-shrink: 0; }
          .reports__page__content--table .base-table tbody .call-type span {
            font-size: 13px;
            font-weight: 500; }
        .reports__page__content--table .base-table tbody .call-result .red {
          color: #ea100b;
          font-weight: 600;
          font-size: 13px; }
          .reports__page__content--table .base-table tbody .call-result .red:before {
            content: '';
            width: 5px;
            height: 5px;
            background: #ea100b;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5%; }
        .reports__page__content--table .base-table tbody .call-result .orange {
          color: #f3933d;
          font-size: 13px; }
        .reports__page__content--table .base-table tbody .call-result .green {
          color: #29a524;
          font-size: 13px; }
        .reports__page__content--table .base-table .action {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .reports__page__content--table .base-table .action .btn svg {
            fill: #ccc;
            -webkit-transition: .35s ease;
            -o-transition: .35s ease;
            transition: .35s ease;
            -ms-flex-negative: 0;
                flex-shrink: 0; }
          .reports__page__content--table .base-table .action .btn:hover svg {
            fill: #ffd802; }
          .reports__page__content--table .base-table .action .play-btn {
            margin-right: 15px; }
            .reports__page__content--table .base-table .action .play-btn svg {
              width: 12px; }
          .reports__page__content--table .base-table .action .download-btn svg {
            height: 17px; }
        .reports__page__content--table .base-table .base-btn.download-file-btn {
          background: #69b7e8;
          border-radius: 30px;
          padding: 8px 15px;
          font-family: Montserrat;
          font-style: 14px;
          font-weight: 500;
          color: #fff; }
      .reports__page__content--table .base-pagination {
        margin-top: 30px; }
        .reports__page__content--table .base-pagination .btn {
          font-weight: 600; }
    .reports__page__content .--mobile {
      display: none; }
      .reports__page__content .--mobile .maximize-row-btn {
        position: absolute;
        top: 16px;
        right: -22px;
        width: 20px;
        height: 20px;
        z-index: 1;
        background: #e6e6e6;
        border-radius: 50%; }
        .reports__page__content .--mobile .maximize-row-btn svg {
          width: 12px;
          fill: #000;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
      .reports__page__content .--mobile tfoot tr {
        background: rgba(178, 178, 178, 0.025); }
        .reports__page__content .--mobile tfoot tr td {
          border-top-width: 3px; }
          .reports__page__content .--mobile tfoot tr td .data {
            font-weight: 900 !important; }
      .reports__page__content .--mobile td {
        border-bottom: solid 1px rgba(0, 0, 0, 0.05); }
      .reports__page__content .--mobile.reports__page__content--table td {
        padding-right: 22px; }
      .reports__page__content .--mobile.reports__page__content--table .collapse-block {
        display: none; }
      .reports__page__content .--mobile td {
        padding-left: 5px;
        width: 100%;
        min-width: initial !important; }
        .reports__page__content .--mobile td .row {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          position: relative; }
          .reports__page__content .--mobile td .row .td-block {
            width: 50%; }
      .reports__page__content .--mobile .td-block {
        margin-bottom: 20px; }
        .reports__page__content .--mobile .td-block .label {
          font-size: 12px;
          font-weight: 400;
          color: #737373; }
        .reports__page__content .--mobile .td-block .data {
          margin-top: 5px;
          font-size: 16px;
          font-weight: 500; }
    .reports__page__content .reports__page__content--tbl-cntr {
      margin-bottom: 80px; }

@media (max-width: 900px) {
  .reports__page__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .reports__page__filters {
    height: auto;
    min-height: initial;
    width: 100%;
    padding-right: 0;
    padding-bottom: 0; }
    .reports__page__filters:before {
      width: 120vw;
      right: -10vw; }
    .reports__page__filters .reports__page__filters__header .btn.maximize-filters {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
    .reports__page__filters .container {
      display: none; }
  .reports__page__content {
    width: 100%;
    padding-left: 0; } }

@media (max-width: 640px) {
  .reports__page__content--table.--desktop {
    display: none; }
  .reports__page__content--table.--mobile {
    display: block; }
  .reports__page__content--header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .reports__page__content .report-type--links {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
  .reports__page__content .page-title {
    width: 100%;
    text-align: center;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .reports__page__content--chart__mobile {
    display: block; }
  .reports__page__content--chart .btn.excel-btn {
    margin-right: auto; }
  .reports__page__content--chart .select-block.group-by,
  .reports__page__content--chart__body {
    display: none; }
  .reports__page__content--table.--mobile .base-pagination {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .reports__page__content--table.--mobile .base-pagination .page-btns {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .reports__page__content--table.--mobile .base-pagination .page-count {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin-left: 0;
      margin-bottom: 30px; } }
